* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b5dfff;
    color: #647482;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1300px;
    min-width: 720px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3%;
}

.container ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 16px 45px;
    background-color: #f5f7fa;
    color: #8c90ab;
    border: 1px solid #d6d4e2;
    cursor: pointer;
    margin: 0 5px;
}

.container ul li:last-child {
    padding-right: 47px;
}

.container ul li.active,
.container ul li:hover {
    background-color: #ffffff;
    color: #00529a;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
}

.container ul li img {
    max-height: 80px;
    margin-bottom: 16px;
    filter: grayscale(85%) opacity(45%);
}

.container ul li.active img,
.container ul li:hover img {
    filter: none;
}

.container .content {
    border-radius: 0 0 20px 20px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 35px 2px -20px rgb(24, 24, 24);
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
}

.container .content .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background-color: #ffffff;
    padding: 40px 25px;
    border-radius: 0 0 20px 20px;
}

.container .content .box img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.container .content .box .text {
    flex: 1;
    padding: 20px;
}

.container .content .box .text h3 {
    font-size: 30px;
    color: #00529a;
    margin: 16px 0;
    text-align: left; /* Ensure the heading is aligned to the left */
}

.container .content .box .text p {
    font-size: 18px;
    line-height: 1.8;
    color: #647482;
    text-align: justify; /* Justify the text for better alignment */
    margin: 0;
}

.container .content .box:not(:first-child) {
    display: none;
}